.password-input-container {
    position: relative;
  }
  
.eye-icon {
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
cursor: pointer;
}

.eye-icon img {
width: 20px;
height: 20px;
}

input[type='password'][class='eye-input-pswrd'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type='text'][class='eye-input-pswrd'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}