.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
#signup-form {
  background-color: burlywood;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

#signup-h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.signup-label {
  display: block;
  margin-bottom: 5px;
}

input[type='email'][id='signup-input-email'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

#signup-button {
  background-color: #4caf50;
  color: white;
  border: none;
  width:100%;
  padding: 4px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup-button:hover {
  background-color: #2c8a2f;
  color: white;
  border: none;
  padding: 4px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-a {
  color: #1e90ff;
  text-decoration: none;
}

.signup-a:hover {
  text-decoration: underline;
}

.userSignup-a{
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}

.userSignup-h4{
  color:white;
  font-weight: bolder;
}
